


<div class="container d-flex justify-content-center" >
    <div class="card p-4 shadow" style="border-radius: 15px; max-width: 500px; width: 100%;">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Formulario Post</h3>
            <form asp-controller="Save" asp-action="Post" enctype="multipart/form-data">
                  <!--titulo -->
                <div class="form-floating mb-3 ">
                   <input type="text" class="form-control" id="name" name="titulo" placeholder="Ingresa el titulo">
                    <label for="name">Titulo</label>
                </div>
                <!-- comentario -->
                <div class="form-floating mb-3">
                    <textarea class="form-control" name="Comentario" style="resize:none ; height : 150px" placeholder=" Comentario" id="floatingTextarea"></textarea>
                    <label for="floatingTextarea">Comments</label>
                </div>
                <!-- imagen -->
                <div class="form-control">
                    <div class="row  ">

                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="imagen" id="inputGroupFile02" accept="image/*">
                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                        </div>

                        <div class=" form-floating ">
                            <div class="d-flex justify-content-center">
                                <img id="preview" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                                     alt="example placeholder" style="width: 150px;" />
                            </div>
                        </div>
                       
                        </div>

                    </div>             



                <div style="margin-top : 10px" >   
                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

